<div class = " container">
    <div class ="row">
        <div class = "col-md-3">

<%= render 'book', book: @book, user: @user %>

        </div>
     </div>
</div>

<h1>Book detail</h1>
<table>
 <tbody>
    <tr>
    <td><%= image_tag @books.user.get_profile_image(100,100) %></td>
<td><%= link_to @books.user.name, "/users/#{@books.user.id}" %></td>
<td><%= @books.title %></td>
<td><%= @books.body %></td>

<td><% if @books.user ==  current_user %>
 <%= link_to "Edit", edit_book_path(@books.id) %>
 <% end %></td>

<td><% if @books.user ==  current_user %>
<%= link_to "Destroy", destroy_book_path, method: :delete, "data-confirm" => "本当に消しますか?" %>
<% end %></td>
</tr>
</tbody>
</table>