<%= render 'book', book: @book %>

<h1>Book detail</h1>
<div>
<%= image_tag @book.user.get_image %>
</div>
<%= @book.user.name %>
<h5><%= @book.title %></h5>
<h5><%= @book.body %></h5>

<%= link_to "Edit", edit_book_path(@book.id) %>
